.tf__button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  z-index: 10000;
}

.tf__button:focus {
  outline: none;
}

.tf__button:before {
  content: '★';
  -webkit-text-stroke: 1px black;
  margin-left: 0.5em;
}

.tf__button--follow:before {
  color: transparent;
}

.tf__button--unfollow:before {
  color: gold;
}

.ranklist .tf__button {
  float: right;
}

.ranklist .first .tf__button {
  font-size: 1rem;
}

.author_name .tf__button {
  width: 0;
  margin: -1em 0;
}
